/* Constraint boxes: .row-vbox {{{ */
body {
	overflow: hidden;
}

.row-vbox {
	display: block;
	height: 500px;
	overflow: hidden;
	margin-left: 0;
	margin-right: 0;
}

.row-vbox > div {
	overflow-y: auto;
}

.row-vbox .vbox-3 {height: 25%;}
.row-vbox .vbox-9 {height: 75%;}
/* }}} */
