<div class="row row-vbox">
	<div class="row vbox-9">
		<div class="col-md-8 vbox-stretch" ng-controller="mapController" id="mapController">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="icon"><i class="fa fa-globe"></i></div>
					<h4>Location</h4>
					<div class="pull-right">
						<span class="badge badge-info">{{drone.geoLocation.long}}</span>
						x
						<span class="badge badge-info">{{drone.geoLocation.lat}}</span>
						<a ng-click="setAutoCenter('toggle')" class="btn" ng-class="autoCenter ? 'btn-primary active' : 'btn-default'"><i class="fa fa-map-marker"></i></a>
					</div>
				</div>
				<div class="panel-body panel-nopad">
					<google-map center="map.center" zoom="map.zoom" draggable="true">
						<marker idKey="drone" coords="{latitude: drone.geoLocation.lat, longitude: drone.geoLocation.long}"/>
					</google-map>
				</div>
			</div>
		</div>
		<div class="col-md-4 vbox-stretch">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="icon"><i class="fa fa-info"></i></div>
					<h4>Information</h4>
				</div>
				<div class="panel-body">
					Hello World
				</div>
			</div>
		</div>
	</div>
	<div class="row vbox-3">
		<div class="col-md-12" ng-controller="logController" id="logController">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="icon"><i class="fa fa-bullhorn"></i></div>
					<h4>Logs</h4>
					<div class="pull-right">
						<a ng-click="setAutoScroll('toggle')" class="btn" ng-class="autoScroll ? 'btn-primary active' : 'btn-default'"><i class="fa fa-fast-forward"></i></a>
					</div>
				</div>
				<div class="panel-body vbox-inherit-parent" id="logArea">
					<ul class="list-unstyled">
						<li ng-repeat="log in logs">
							<span class="text-muted">{{log.timestamp | date:'H:mm:ss'}}</span>
							{{log.message}}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
