<div class="row vbox">
	<div class="row vbox-9">
		<div class="col-md-8 vbox-12">
			<div class="vbox-12" ng-include="'/templates/panels/map.html'"></div>
		</div>
		<div class="col-md-4 vbox-12">
			<div ng-repeat="id in [config.devices.drone]" ng-include="'/templates/panels/pilot.html'"></div>
			<div ng-repeat="id in [config.devices.drone]" ng-include="'/templates/panels/info.html'"></div>
			<div ng-repeat="id in [config.devices.android]" ng-include="'/templates/panels/info.html'"></div>
		</div>
	</div>
	<div class="row vbox-3">
		<div class="col-md-12" ng-controller="logController" id="logController">
			<div ng-include="'/templates/panels/log.html'"></div>
		</div>
	</div>
</div>
